Компактний виглят калькулятора, таблицею з безкінечним введенням
Від'ємні числа мають вмітися виводитися і рахуватися, введення в цілих додатніх залишається
Має вміти в дробові числа і виводити їх
множення і ділення до 99 обмеження
Перевірка на ділення на 0
виведення дробових до 2 знаків після коми
